.navBar-container{
    background-image: url("title2.jpg");
    color: white;
    /* background-color: brown; */
    height: 18vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    direction: rtl;
    /* color: black; */
    /* text-align: center; */
}
.harmonia-logo.navbar-brand{
width: 100%;
}

.title{
    color: white;
    width: 20px;
    margin-right: 440px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .link{
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
  }
  .link:hover{
      color: gray;
  }
  .home{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      /* position: relative;
      display: inline-block; 
      width: 100%; 
      height: auto;
       margin: 0%; 
       padding: 0%; */
  }

  .imgHome{
      height: 200px;
      width: 400px;
  }

  .nisayon{
    position: relative; 
    display: inline-block;  
    height: auto;
    width: 100%;
  }

/* .nisayon8{
position: relative;
 display: inline-block; 
 width: 100%; 
 height: auto;
  margin: 0%; 
  padding: 0%;
} */

.about{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: right;
}

